<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<div class="row">
  <div class="ticket-row-height col-md-3"><strong>Restaurant Name</strong></div>
  <div class="ticket-row-height col-md-2"><strong>Minimum Spend</strong></div>
  <div class="ticket-row-height col-md-2"><strong>Discount</strong></div>
  <div class="ticket-row-height col-md-2"><strong>Ticket Price</strong></div>
  <div class="ticket-row-height col-md-2"><strong>Buy</strong></div>
</div>

<% @tickets.each do |ticket| %>
  <div class="row">
    <div class="ticket-row-height col-md-3"><%= ticket.promotion.restaurant.name %></div>
    <div class="ticket-row-height col-md-2"><%= number_to_currency(ticket.min_total_spend, locale: :en) %></div>
    <div class="ticket-row-height col-md-2"><%= number_to_percentage(ticket.discount * 100, precision: 2)%></div>
    <div class="ticket-row-height col-md-2"><%= number_to_currency(ticket.ticket_price, locale: :en) %></div>
    <div class="ticket-row-height col-md-2">
      <%= form_tag new_purchase_path, method: :get %>
      <input type="hidden" name="ticket_id" value="<%= ticket.id %>">
      <span class="label-primary"><input type="submit" value="Purchase"></span>
    </div>
  </div>
  <% break if ticket.id > 10 %>
<% end %>
