<div>
<%= @response.name %>
<%= @response.categories.join(" ") %>
<%= @response.location.display_address.join(" ") %>
<%= @response.display_phone %>
<%= @response.id %>
</div>

Name: <input type="text" value='<%= @response.name %>' /><br />
Cuisine: <input type="text" value='<%= @response.categories[0][0] %>' />