<div class="container">
  <h3><%= @restaurant.name %></h3>
  <h4><%= @restaurant.cuisine %></h4>
  <h4><%= @restaurant.address %></h4>
  <h4><%= (@restaurant.display_phone).gsub(/\+1-/, "") %></h4>
  <hr></hr>

  <table class="table">
  <% @restaurant.promotions.each do |promotion| %>
    <thead><th><%= promotion.name %></th></thead>
    <tr>
      <td>Group Size</td>
      <td>Minimum Spend</td>
      <td>Discount</td>
      <td>Ticket Price</td>
      <td>Purchase</td>
    </tr>
      <% promotion.tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.group_size %></td>
        <td><%= number_to_currency(ticket.min_total_spend, locale: :en) %></td>
        <td><%= number_to_percentage(ticket.discount * 100, precision: 2) %></td>
        <td><%= number_to_currency(ticket.ticket_price, locale: :en) %></td>
        <td>
          <%= form_tag new_purchase_path, method: :get do %>
            <input type="hidden" name="purchase[ticket_id]" value="<%= ticket.id %>">
            <input type="submit" value="Purchase">
          <% end %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </table>
</div>

<%= javascript_include_tag "tickets.js" %>