<!-- <div class="container-fluid"> -->
  <h3><%= @restaurant.name %></h3>
  <p class="restaurant-show-details"><%= @restaurant.cuisine %></p>
  <p class="restaurant-show-details"><%= @restaurant.address %></p>
  <p class="restaurant-show-details"><%= (@restaurant.display_phone).gsub(/\+1-/, "") %></p>


  <div class="view-tickets">
    <% @restaurant.active_unexpired_promotions.order(valid_on: :asc).each do |promotion| %>
      <div class="view-tickets-promo-name">
        <%= promotion.name %><br>
        <span class="valid-date">Valid on <%= promotion.valid_on.strftime("%B %d, %Y") %></span>
      </div>
      <div class="view-tickets-header">
        <span class="ticket-header-item-group">Group</span>
        <span class="ticket-header-item">Value</span>
        <span class="ticket-header-item">Discount</span>
        <span class="ticket-header-item">Purchase</span>
      </div>
      <div class="view-tickets-data">
        <% promotion.tickets.each do |ticket| %>
        <span class="ticket-data-item-group">
          <%= ticket.group_size %>
        </span>
        <span class="ticket-data-item">
          <%= number_to_currency(ticket.min_total_spend, locale: :en) %>
        </span>
        <span class="ticket-data-item">
          <%= number_to_percentage(ticket.discount * 100, precision: 2) %>
        </span>
        <%= form_tag new_purchase_path, method: :get, class: "ticket-form ticket-data-item" do %>
            <input type="hidden" name="purchase[ticket_id]" value="<%= ticket.id %>">
            <button class="btn-xs purchase-ticket-btn"><%=number_to_currency(ticket.ticket_price, locale: :en)%></button>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<!-- </div> -->
