<!-- <div class="container-fluid"> -->
  <h4><%= @restaurant.name %></h4>
  <p class="restaurant-show-details"><%= @restaurant.cuisine %></p>
  <p class="restaurant-show-details"><%= @restaurant.address %></p>
  <p class="restaurant-show-details"><%= (@restaurant.display_phone).gsub(/\+1-/, "") %></p>
  <hr></hr>

  <table class="table-responsive view-tickets">
  <% @restaurant.promotions.each do |promotion| %>
    <thead><th><%= promotion.name %></th></thead>
    <tr class="view-tickets-header">
      <td>Group</td>
      <td>Value</td>
      <td>Discount</td>
      <td>Ticket Price</td>
      <td>Purchase</td>
    </tr>
      <% promotion.tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.group_size %></td>
        <td><%= number_to_currency(ticket.min_total_spend, locale: :en) %></td>
        <td><%= number_to_percentage(ticket.discount * 100, precision: 2) %></td>
        <td><%= number_to_currency(ticket.ticket_price, locale: :en) %></td>
        <td>
          <%= form_tag new_purchase_path, method: :get do %>
            <input type="hidden" name="purchase[ticket_id]" value="<%= ticket.id %>">
            <input type="submit" class="btn btn-primary btn-xs" value="Purchase">
          <% end %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </table>
<!-- </div> -->